# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# tsd directory
typings

test/data/

build/

# transpiled javascript
tools/tslint/**/*.js
tools/tslint/**/*.js.map
releases
*.log
