<div class="top-bar" #topBar>
    <top-nav (connect)="connectToServer($event, false)"
        (connectOptions)="connectToServer($event, true)"></top-nav>
    <tabs #tabs (tabSelected)="tabSelected($event)"></tabs>
</div>
<div *ngIf="hello" class="work-area" [style.top]="topBarHeight">
    <p>This useless tab will close on first connection.</p>
</div>
<div *ngIf="!hello" class="work-area" [style.top]="topBarHeight" [ngSwitch]="currentSession.modal">
    <connection-modal *ngSwitchWhen="'connection'" [sessionState]="currentSession"></connection-modal> 
    <server-connection *ngSwitchDefault [sessionState]="currentSession"></server-connection>
</div>
