.top-bar {
    position: absolute;
    top: 0em;
    right: 0em;
    left: 0em;
    background-color: #444;
}

.work-area {
    position: absolute;
    top: 3em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}
