div.record {
    display: inline-block;
    vertical-align: top;
    padding: 2px;
    border: 1px solid #999;
}

div.value {
    padding: .25em;
    vertical-align: top;
}

div.value.null {
    font-style: italic;
    color: #55c;
}

div.value.undefined {
    font-style: italic;
    color: #5c5;
}

div.value.empty,
div.value.default {
    font-style: italic;
    color: #c55;
}

div.key {
    color: #222;
    background-color: #999;
    padding: .25em;
    vertical-align: top;
}