div.record {
    display: inline-block;
    vertical-align: top;
    margin-right: .25em;
}

div.record:last-child {
    margin-right: 0em;
}

div.value {
    vertical-align: top;
    padding: .25em;
}

div.value div.value {
    border: 1px solid #999;
}

div.value div.record {
    margin-top: .25em;
}

div.value.null {
    font-style: italic;
    color: #55c;
}

div.value.undefined {
    font-style: italic;
    color: #5c5;
}

div.value.empty,
div.value.default {
    font-style: italic;
    color: #c55;
}

div.key {
    color: #222;
    background-color: #999;
    padding: .25em;
    vertical-align: top;
}