.left-bar {
    position: absolute;
    top: 0em;
    left: 0em;
    bottom: 0em;
    overflow: auto;
    /*background-color: #ffff00;*/
}

.resize-left-bar {
    position: absolute;
    top: 0em;
    bottom: 0em;
    width: 5px;
    /*background-color: #999900;*/
}

.right-panel {
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
}

.input-pane {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    /*background-color: #00ffff;*/
}

.resize-input-pane {
    position: absolute;
    left: 0em;
    right: 0em;
    height: 5px;
    /*background-color: #009999;*/
}

.controls {
    position: absolute;
    left: 0em;
    right: 0em;
    /*background-color: #ffffff;*/
}

.output-pane {
    position: absolute;
    bottom: 0em;
    left: 0em;
    right: 0em;
    /*background-color: #ff00ff;*/
}

.editor {
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}
