<div>
    <div class="left-bar" [style.width]="leftBarWidth">
    </div>
    <div class="resize-left-bar" [style.left]="leftBarWidth">
        <resize-bar [horizontal]="true" (delta)="resizeLeftBar($event)"></resize-bar>
    </div>
    <div class="right-panel" [style.left]="rightPanelLeft">
        <div class="input-pane" [style.height]="inputPaneHeight">
        </div>
        <div class="resize-input-pane" [style.top]="inputPaneHeight">
            <resize-bar [vertical]="true" (delta)="resizeInput($event)"></resize-bar>
        </div>
        <div class="controls" #controls [style.top]="controlsTop">
            <div>foo</div>
            <div>bar</div>
        </div>
        <div class="output-pane" [style.top]="outputPaneTop">
            {{response}}
        </div>
    </div>
</div>
