<div>
    <div class="left-bar" [style.width]="leftBarWidth">
    </div>
    <div class="resize-left-bar" [style.left]="leftBarWidth">
        <resize-bar [horizontal]="true"></resize-bar>
    </div>
    <div class="right-panel" [style.left]="rightPanelLeft">
        <div class="input-pane" [style.height]="inputPaneHeight">
        </div>
        <div class="resize-input-pane" [style.top]="inputPaneHeight">
            <resize-bar [vertical]="true"></resize-bar>
        </div>
        <div class="controls" #controls>
        </div>
        <div class="output-pane">
        </div>
    </div>
</div>
